<%- include("header") -%>

  <div class="box" id="heading">
    <h1> Vocabulary </h1>
  </div>

  <div class="box" id="new-item-box">
    <form class="item_add" action="/" method="post">
      <div class="item_add_inputs">
        <div>
          <label for="word_de">German word/phrase</label>
          <input type="text" name="word_de" autocomplete="off" autofocus>
        </div>
        <div>
          <label for="word_cz">Czech word/phrase</label>
          <input type="text" name="word_cz" autocomplete="off">
        </div>
        <select class="item_add_category" name="category">
          <option value="other" default>other</option>
          <option value="food">Food</option>
          <option value="clothing">Clothing</option>
        </select>
        <textarea class="item_add_note" name="note" placeholder="note"></textarea>
      </div>
      <div class="item_add_submit">
        <button type="submit" name="list">+</button>
      </div>
    </form>
  </div>
<div class="box list item" id="list_header">
  <div><input type="checkbox" name="checkbox" value="" onChange=""></div>
  <div>German</div>
  <div>Czech</div>
  <div>Note</div>
</div>
  <div class="box list" id="list">
    <% let i = 1; %>
    <% newListItems.forEach(item=> { %>
        <%#  if (item.starred == true){ console.log(item.starred); %> 
        <%# var element = document.getElementById("word");%>  
        <%# element.classList.add("starred")} %>
         
        <div class="item" id="<%= 'word_' + i %>">
          <form action="/check" method="post">
            <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
          </form>
          <div>
            <%= item.name_de %>
          </div>
          <div>
            <%= item.name_cz %>
          </div>
          <div>
            <%= item.note %>
          </div>
          <form action="/delete" method="post">
            <input type="hidden" name="delete" value="<%= item._id %>"> 
            <input type="image" src="img/remove-ico.png" alt="" width="20"> 
          </form>
        </div>
        <% i++; %>
    <% }); %>
 
  </div>

  <%- include("footer") -%>